.footer {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  align-items: flex-start;

  .contact_info,
  .social_links {
    flex: 1;

    p {
      margin-bottom: 10px;
      color: #333;
    }

    ul {
      list-style-type: none;
      padding: 0;
      color: #333;

      li {
        margin-bottom: 5px;
        display: flex;
        gap: 15px;
      }
    }
  }
}
